.App {
  text-align: center;
  display: flex;
  flex-direction:column;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: center;
}

.Container{
  border: 2px black;
  margin: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
